/* style.css */

body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', sans-serif;
    background-color: #000;
    color: #fff;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background-color: #000;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: white;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    transition: 0.3s;
}

nav ul li a.active,
nav ul li a:hover {
    color: #f7b733;
    border-bottom: 2px solid #f7b733;
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 100px;
    background-color: #000;
}

.hero-text h1 {
    font-size: 48px;
    margin: 10px 0;
}

.hero-text span {
    color: #f7b733;
}

.hero-text h2 {
    font-weight: 400;
    color: #ccc;
}

.buttons {
    margin-top: 20px;
}

.btn {
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 25px;
    font-weight: bold;
    margin-right: 10px;
    display: inline-block;
}

.btn.primary {
    background-color: #f7b733;
    color: #000;
}

.btn.secondary {
    border: 2px solid #f7b733;
    color: #fff;
}

.hero-image img,
.about-image img {
    width: 250px;
    border-radius: 10px;
}

.about {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 60px 100px;
    background-color: #000;
}

.about-text {
    max-width: 600px;
}

.about-text h2 {
    font-size: 32px;
    margin-bottom: 20px;
}

.about-text ul {
    list-style: none;
    padding: 0;
}

.about-text ul li {
    margin-bottom: 8px;
}

.skills {
    padding: 60px 100px;
    background-color: #000;
}

.skills h2 {
    font-size: 32px;
    margin-bottom: 10px;
}

.subtitle {
    color: #ccc;
    font-size: 14px;
    margin-bottom: 30px;
}

.skills-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 25px;
}

.skill label {
    display: block;
    margin-bottom: 5px;
}

.bar {
    width: 100%;
    height: 10px;
    background-color: #333;
    border-radius: 5px;
    overflow: hidden;
}

.progress {
    height: 100%;
    background-color: #f7b733;
}

#bio{
    display:block;
    font-family: 'Times New Roman', Times, serif;
    font-size: 24px;
    color:#ccc;
}

#bio .bio{
    display: block;
    font-size: 30px;
    font-style: oblique;
    font-weight: bold;
}